@charset "UTF-8";

/* Matt Fontes Lesson 7 */ 

/* ----------------- NAVIGATION BAR STYLES -------------------*/ 

/* TABBED NAVIGATION */
#navbar{
	width: 100%; 
	height: 45px;
	overflow: hidden;
	margin-bottom: 0px;
}	

/* horizontal menu bars are typically created using a styled unordered list. Here's how! */

ul#menu {
	list-style: none; 
} 
ul#menu li {
	float: left; 
	margin-left: 10px; 
} 
ul#menu li a.button {
	background-color: #E4E4F7; /* button/tab color */
	color: #0010E8; /* font color */
	font-size: 1em;
	text-decoration: none; 
	padding: 6px 20px 25px 20px; 	
	border-radius: 12px; 
	border: solid 1px; 
}
/* styles for the currently selected */

ul#menu li a.button.selected{
	background-color: #FFFFFF; 
	color: #0010E8; /* font color */
	font-style: italic;
}
/* visited link font colors */
ul#menu li a.button:visited {
	color: #0010E8;
}  
ul#menu li a.button:visited.selected{
	color: #FFFFFF;
} 
/* hover link styles */
ul#menu li a.button:hover {
	background-color: #A4D4FF;
	color: #0010E8;
} 
 
ul#menu li a.button:hover.selected{ 
	background-color: #A4D4FF;
	color: #0010E8;
} 